input{

    padding: 10px;
    border-radius: 5px;
}
.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin:18px;
}

span{
    font-size: 12px;
    color: red;
    display: none;
  }
  
  input:invalid[focused="true"]{
    border: 1px solid red;
  }

  input:invalid[focused="true"]~span{
    display: block;
  }
  