

.App {
 
  height: 120vh;
  /* border: 3px solid red; */
  width: fit-content;
  justify-content: center;
  margin: auto;
}
h1{
  color: rgb(49, 3, 3);
  font-size: 44px;
  text-align: center;
}

button{
  width: 90%;
  height: 50px;
  padding: 10px;
  background-color: rgb(131, 12, 12);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin:18px;
 

}





